<html>
<head>
  <meta charset="utf-8" />
  <title>Standalone Launch Example</title>
</head>
<body>
{% if session %}
<h1>Welcome {{username}}!</h1>
  <p><a href="{% url 'logout' %}">Logout</a></p>
  <details>
    <summary>fhirUser</summary>
    <div><pre>{{fhirUser}}</pre></div>
  </details>
  <details>
    <summary>token response</summary>
    <div><pre>{{pretty}}</pre></div>
  </details>
{% else %}
  <h1>Welcome Guest</h1>
  <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
</body>
</html>